body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#main {
    text-align: center;
    margin: 20px;
}

#title {
    font-size: 28px;
    margin: 10px 0;
}

#img-div {
    margin: 20px 0;
    border: 1px white solid;
    border-width: 20px;
    background-color: white;
    border-radius: 20px;
}

#image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

#img-caption {
    margin: 10px 0;
}

.here {
    text-align: center;
}

ul {

    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    margin: 16px 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#tribute-info {
    font-size: 18px;
    margin: 20px 0;
}

#tribute-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}